body {font-family: "Georgia"}
body {background-color:#ffe0b3;}
body {color:#4d2e00;}
body {line-height:150%;}
body {font-size:120%;}
div.login {text-align:right;}
div.Signup {text-alighn:left;}
h1 {text-align:center;}
h1 {font-size:250%;}
h1 {color:#A0522D;}
h1 {background-color:#deb887;
	padding:20px;
	border-bottom-color:#c88937;
	border-bottom-style:dashed;
	border-bottom-width:4px;}
h2 {font-size:150%;}
ul {list-style-type:circle;}
ul.list li {width:auto;
  float:left;}
nav li {display: inline;
	border: solid;
	background-color: #deb887;
	border-width: 0px 1px 1px 1px;
    margin: 0 5px 0 0;
	position:relative;
	bottom: 109px;}
nav li a {padding: 0 10px;}
img {border:2px solid #021a40;}
